@import '../../../../node_modules/h8k-design/dist/index.css';

.app-header {
  height: 60px;
  min-height: 60px;
  line-height: 60px;
  background: black;
  border-bottom: 1px solid #28313d;
  z-index: 900;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
  padding: 0 1em;
}

.app-title {
  color: white;
}

button {
  color: #ffffff;
  background: black;
  box-shadow: 0 4px 12px black;
}

button.icon-only i {
  color: black;
}
